*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.button-box{
	position: fixed;
	bottom: 10%;
	z-index: 1;
	right: 5%;
	text-align: center;
	white-space: nowrap;
}
/*回到顶部*/
.top-button{
	width:65px;
	color: #1AA0E6;
}
/*回到首页*/
.home-button{
	width:65px;
	color: #fff;
	margin-bottom: 2rem;
}
.top-button img,.home-button img{
	height: 100%;
	width: 100%;
}
/*头部*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	padding: 1% 0;
	background:rgba(0,64,104,1);
	opacity:1;
}
.logo{
	height: 40px;
	position: absolute;
	left: 3%;
}
.logo img{
	height: 100%;
}
/*导航栏*/
.nav-bar{
	height: 100%;
	width:64%;
	margin: 0 auto;
	height: 40px;
	display: flex;
	justify-content: space-around;
}
.nav-bar-a {
	display: block;
	color: white;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0 20px;
	white-space: nowrap;
	text-decoration: none;
}
.nav-bar-a:hover:not(.active) {
	color: white;
	background-color: #0096FF;
	border-radius:7px;
	cursor: pointer;
}
.nav-bar a.active {
	color: white;
	background-color: #0096FF;
	border-radius:7px;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	text-align: center;
}


/*底部文字*/
.footer-text{
	width:20%;
	left: 40%;
	margin: 1% auto;
	display: block;
}

/*轮播图*/
.swiper-container {
	height: 100%;
	width:100%;
}
.swiper-slide{
	height: 100%;
	width:100%;
}
.swiper-slide img{
	height: 100%;
	width:100%;
}
.swiper-pagination{
	margin: 40px auto;
}
.swiper-pagination-bullet{
	background: #0096FF;
	width:32px;
	border-radius: 10px;
}

/*第二屏*/
.text-box{
	width:45%;
	margin: 0 auto;
	margin-top: 10%;
}
.text-box img{
	height: 100%;
	width:100%;
}
.solve-box-father{
	height: 100%;
	width:100%;
	padding-top: 4%;
	margin-top: -2%;
	background-image: url('../image/back1.png');
	background-size: contain;
	background-repeat: no-repeat;
}
.solve-box{
	width:70%;
	margin: 2% auto;
	display: flex;
}
.solve-box .img-box{
	width:33.3%;
	height: 100%;
	position: relative;
}
.img-box img{
	width:100%;
	height: 100%;
}
/*图片hover动画*/
.img-box .box-content{
	width: 96%;
	height: 94%;
	position: absolute;
	top: 1%;
	left: 2%;
	opacity: 0;
}
.img-box:hover .box-content{
	animation-name: loading;
	animation-duration: 1200ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	opacity: 1;
}
@keyframes loading{
	0%{
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	40%{
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	60%{
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
		opacity: 1;
	}
	80%{
		-webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
		transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
	}
	100%{
		-webkit-transform: perspective(400px);
		transform: perspective(400px);
	}
}
@media only screen and (max-width:990px){
	.box{ margin-bottom: 20px; }
} 

/*第三屏*/
.item-box{
	width:80%;
	height: 76%;
	margin: 6% auto;
}
.item-box ul{
	height: 100%;
	width:100%;
	list-style: none;
	display: flex;
}
.item-box ul li{
	width:10%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}
.fold .li-img{
	width:100%;
	position: absolute;
	height: max-content;
	object-fit: cover;
	-moz-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
}
.unfold .li-img{
	width:100%;
	position: absolute;
	height: max-content;
	object-fit: cover;
	-moz-box-shadow: 0 0 5px #888888;
	box-shadow: 0 0 5px #888888;
}
.item-box .li-icon{
	position: absolute;
	top: 26%;
	width:20%;
	left: 39%;
	z-index: 9;
}
.item-box .li-text{
	position: absolute;
	top: 42%;
	width:100%;
	text-align: center;
	font-size: 150%;
	color:#fff;
	font-weight: bold;
}
.unfold-text{
	width:100%;
	height: 40px;
	line-height:40px;
	font-size: 24px;
	color: #fff;
	text-shadow:0px 3px 6px rgba(0,0,0,0.50);
	z-index: 10;
	position: absolute;
	top: 10%;
	right: 0;
	text-align: center;
	background:linear-gradient(87deg,rgba(255,255,255,0) 0%,rgba(233,233,233,0.6) 50%,rgba(128,128,128,0) 100%);
}
.li-content{
	width:70%;
	position: absolute;
	top: 22%;
	left: 15%;
}
.li-button{
	position: absolute;
	bottom:6%;
	left: 37.5%;
	width:25%;
	font-size: 100%;
	padding: 2% 0;
	line-height: 100%;
	background:rgba(0,150,255,1);
	opacity:0.85;
	border-radius:55px;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
.li-button a{
	text-decoration: none;
	color:#fff;
}
.li-button:hover{
	cursor: pointer;
	box-shadow: 0 0 8px #fff;
	background:rgb(0,130,255);
}

/*第四屏*/
.consulation-box{
	height: 100%;
	padding-top: 10%;
	position: relative;
}
.consulation-back{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 70%;
	width: 100%;
	background-image: url('../image/back2.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
}
.consulation-card-list{
	display: flex;
	height: 62%;
	width:60%;
	margin: 0 auto;
	justify-content: space-around;
	align-items: center;
}
.consulation-card-item{
	height: 90%;
	width:30%;
	border-radius: 4px;
	background: -webkit-linear-gradient(#5DBCFF, #0092FC); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#5DBCFF, #0092FC); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#5DBCFF, #0092FC); /* Firefox 3.6 - 15 */
	background: linear-gradient(#5DBCFF, #0092FC); /* 标准的语法 */
}
.consulation-card-item-active{
	height: 100%;
	width:33%;
	border-radius: 4px;
	background: -webkit-linear-gradient(#5DBCFF, #0092FC); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#5DBCFF, #0092FC); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#5DBCFF, #0092FC); /* Firefox 3.6 - 15 */
	background: linear-gradient(#5DBCFF, #0092FC); /* 标准的语法 */
}
.card-title{
	width:46%;
	margin: 16% auto;
	text-align: center;
	color: #fff;
	font-size: 180%;
	white-space: nowrap;
}
.card-title img{
	height: 100%;
	width:90%;
	margin: 0 auto;
}
.card-detail img{
	width:8%;
	margin: 2% auto;
	display: block;
}
.card-detail {
	text-align: center;
	font-size: 100%;
	line-height: 2;
	color:#fff;
}

/*第五屏*/
.about-us{
	height: 100%;
	padding-top: 7%;
	position: relative;
}
.about-back{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url('../image/back3.png');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
}
.about-content{
	width:80%;
	height: 40%;
	margin: 0 auto;
	padding-top: 2%;
	text-align: center;
	color: #fff;
	background:linear-gradient(87deg,rgba(255,255,255,0) 0%,rgba(84,84,84,0.6) 50%,rgba(128,128,128,0) 100%);
}
.about-footer{
	height: 25%;
	width:100%;
	background:rgba(0,64,104,1);
	position: absolute;
	bottom: 12%;
	color:#fff;
	text-align: center;
	padding-top: 1%;
}
.about-detail{
	display: flex;
	width:70%;
	height: 55%;
	margin: 0 auto;
	margin-top: 1%;
	justify-content: space-between;
	font-size: 80%;
}
.about-list{
	display: flex;
	text-align: left;
	width: 45%;
	justify-content: flex-end;
	white-space: nowrap;
}
.about-list-img{
	display: flex;
	text-align: left;
	width: 45%;
}
.about-item{
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.about-img{
	height: 100%;
	margin: 0 1%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.about-img img{
	width: 100%;
}